Source: ros-groovy-Orocos-KDL
Section: misc
Priority: extra
Maintainer: Ruben Smits <ruben.smits@intermodalics.eu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin,libeigen3-dev,libcppunit-dev,pkg-config
Homepage: http://www.orocos.org/kdl
Standards-Version: 3.9.2

Package: ros-groovy-Orocos-KDL
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev,libcppunit-dev,pkg-config
Description: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
