Package: ros-groovy-orocos-kdl
Version: 1.1.99-0precise
Architecture: amd64
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>, Ioan Sucan <isucan@willowgarage.com>
Installed-Size: 1002
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0), libboost-all-dev
Section: misc
Priority: extra
Homepage: http://ros.org/wiki/orocos_kinematics_dynamics
Description: Orocos Kinematics and Dynamics Library
 .
 This stack contains the packages:
 * kdl: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project. It is a meta-package that depends on orocos_kdl which contains the c++ version and python_orocos_kdl which contains the generated python bindings
 * orocos_kdl: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
 * python_orocos_kdl: python_orocos_kdl
